.sidebar-container{
    display: flex;
    flex-direction: column;
    min-width: 250px;
    min-height: 100vh;
    margin-left: 10px;
}

.button{
    position: relative;
    height: auto;
    min-height: 35px;
    margin: 1px;
    text-align: left;
    background: linear-gradient(rgb(255, 255, 255), rgb(213, 216, 231));
    color: #000;
    border: solid 1px #ccc;
    outline: #ddd
}

.button:hover{
    background: #fff
}

.search-field,
.condition-outer,
.difficulty,
.equipment,
.exercise,
.body-part,
.age-category,
.image-orientation,
.exercise-image{
    display: flex;
    flex-direction: column;
    min-height: 500px;
    padding-left: 10px;
    padding-top: 5px;
    border: solid 1px #d4d4d4;
}

label{
    font-size: 0.9em;
}

span{
    margin-left: 5px;
}

.active,
.active:hover{
    background: linear-gradient(rgb(229, 233, 236), rgb(129, 129, 160));
}

input[type='checkbox'],
input[type='radio']{
    margin-right: 7px;
}

.search-field ul{
    padding-top: 10px;
    padding-left: 20px;
}

li{
    font-size: 0.8em;
}


/* ------------------------end of common design------------------------- */

.search{
    position: relative;
}
.search button{
    width: 99.2%;
}

.button-inner{
    position: absolute;
    width: 25px !important;
    height: 25px;
    border-radius: 5px;
    top:7px;
    right: 10px;
    font-size: 0.6rem;
    border: solid 1px #ccc;
}

.search-field input{
    width: 80%;
    height: 25px;
    margin-top: 5px;
    border: solid 1px #848484;
    border-radius: 3px;
    font-size: 0.8em;
}
.condition-inner{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}